section.Highlights
  .container
    .Highlights-slider
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://media.istockphoto.com/photos/low-angle-of-tall-building-in-manhattan-picture-id1291177121?b=1&k=20&m=1291177121&s=170667a&w=0&h=aI1PkWS_GkXJ4Qz0gz2cTOud95SS4hUa4iZc1kqWYL4=);")
          .content
            h4.title San Antonio Bay
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1579863291002-efd466192fcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title Ibiza
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1508385082359-f38ae991e8f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&q=80);")
          .content
            h4.title Roma
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80);")
          .content
            h4.title Chicago, United States
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra
      .Highlights-item
        .Highlights-item-show(style="background-image: url(https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?auto=format&fit=crop&w=400&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);")
          .content
            h4.title Paris
            .tag
              h5.tag-title Top reasons to visit:
              .tag-list
                a.tag-item(href="") museums
                a.tag-item(href="") sigtseeing
                a.tag-item(href="") culture
        .Highlights-item-extra extra